.wof-wheel.wof-theme-blue {
    background: #a8216b
}

.wof-wheel.wof-theme-blue .wof-wheel-bg {
    background-image: url(../img/wheel-blue.png)
}

.wof-wheel.wof-theme-blue .wof-pointer-color {
    fill: #8BC34A
}

.wof-wheel.wof-theme-blue .wof-title em {
    color: #8BC34A
}

.wof-wheel.wof-theme-blue .wof-slice[data-slice="1"],
.wof-wheel.wof-theme-blue .wof-slice[data-slice="5"],
.wof-wheel.wof-theme-blue .wof-slice[data-slice="9"] {
    color: #225378
}

.wof-wheel.wof-theme-blue button {
    color: #ffffff;
    background: #8abe4e;
}

.wof-wheel.wof-theme-blue .wof-error {
    border-color: #202020
}

